/* Layout */
.container {
	background: #0ff;
	margin: 0 auto;
	width: 95%; /*960px*/
	max-width: 95%;
	}
	
nav {
	background: #ffc;
	width: 100%; /*960px / 960px = 100%*/
	}
	
article {
	background: #fcf;
	float: left;
	width: 66.666666%; /*640px / 960px = 66.66%*/
	}	
	
aside {
	background: #660;
	float: left;
	width: 33.333333%; /*320px / 960px = 66.66%*/
	}
	
footer {
	background: maroon;
	clear: both;
	width: 100%; /*960px / 960px = 100%*/
	}
	
/* TYPOGRAPHY */

h1 {
	font-size: 3em; /*48px ÷ 16px = 3em*/
	}

h2 {
	font-size: 2.25em; /*36px ÷ 16px = 2em*/
	}


h3 {
	font-size: 1.5em; /*24px ÷ 16px = 1.5em*/
	}

P {
	font-size: 1.25em; /*20px ÷ 16px = 1.25em*/
	line-height: 1.25em; /*20px ÷ 16px = 1.25em*/
	}

/* ALL LINKS */

a {
	color: #f00;
	font-size: 1.25em;
	}

footer a {
	font-size: 1em; /*20px ÷ 20px = 1em*/
	}

/* FLUID GRID */



























